//===========================
//  样式覆盖
//===========================

// 修改下划线样式
.article a:not([class]):not([data-fancybox]),
.content > a
    position: relative
    text-decoration: none
    &:before
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px
      height: 1px
      width: 100%
      background: #ff5722
      transform: scale(0)
      transition: all 0.5s
    &:hover:before
      transform: scale(1)


// 样式修订 HandSome H1 H2 标题
article#post
  & > h1,h2
    font-weight: 700
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat
    display: initial
    width: auto
    border-bottom: none

// 设置code样式
code
  &:not([class])
    font-size: .8125rem
    padding: 4px
    font-weight: 600

// 代码块标题颜色
.highlight figcaption
  background: #ffeed2

// <kbd></kbd>
kbd
  background-color: #f2f2f2
  color: var(--color-p)
  padding: 3px 5px
  border-radius: 0.25em
  box-shadow: inset 0 -2px 0 hsl(240deg 1% 83%), 0 1px 1px rgba(0,0,0,.05)
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace

// 重写友链页样式
.friend-header:before
  margin-top: -90px !important

// 右键样式修改
ul.list-v.rightmenu
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.08), 0 4px 8px 0 rgba(0,0,0,.08), 0 8px 16px 0 rgba(0,0,0,.08)
  border-radius: 8px
  li
    a
      cursor: $pointer,pointer !important

// 列表页的内容居中
.post.post-v3.white-box
  text-align: center
  & a
    font-weight: 600 !important

// 内容居左且首行缩进
.post.post-v3.white-box  p
  text-align: left
  text-indent: 2em

// 透明模式哟
#l_header
  background-color: hsla(0,0%,100%,.9)
#l_main .post,
#l_side .widget
  background-color: rgba(255,255,255,0.9)
  box-shadow: 0 4px 10px -4px #ebedf0

#post.post
  background-color: #ffffff

// 文章页页脚导航
#l_main .article .prev-next>a p.content
  max-height: 85px
  overflow: hidden

// 文章页不显示头图
#l_main .article .headimg-div
  display: none

// 文章 P 首行缩进 2
#l_main > article.cus-indent > p
  text-indent: 2em
  &.center
    text-indent: initial
  i
    text-indent: initial

// 标题样式
h1.title
  margin: 10px
  text-align: center
  font-size: 2rem !important
  font-weight: 600
  font-family: $fontfamily-logo
h1.title.common_read_h1
  text-align: center !important
  font-size: 2.5rem !important


// noteblock 标题字号增大
.note strong
  font-size: 1.5rem
  font-family: 'sxls'

// 标题大小
details summary
  font-size 1rem !important
