//=============================//
// 自定义样式 提供可复用的样式  //
//============================//


// 页脚自定义响应式处理
.footerMax560
  @media screen and (max-width: 560px)
    display: none

.footerMax490
  @media screen and (max-width: 490px)
    display: none
    
.footerMax380
  @media screen and (max-width: 380px)
    display: none


// Logo 用主颜色
.logoColor
  color: #2196f3
  font-size: 125%


// Icon 颜色
.cusIconColor
  color: #a6d5fa !important
  &:hover
    color: #2196f3 !important


// 字体粗细
.fontWeigth
  .w400
    font-weight: 400
  .w500
    font-weight: 500
  .w600
    font-weight: 600


// 文字滚动
.text-animate
  padding-left 20px
  font-size 12px
  color #000
  white-space nowrap
  animation 4s wordsLoop linear infinite alternate
  display inline-block

@keyframes wordsLoop
  0% 
    transform: translateX(0px)
    -webkit-transform: translateX(0px)
  100% 
    transform: translateX(-100% + 60px)
    -webkit-transform: translateX(-100% + 60px)
    
@-webkit-keyframes wordsLoops
  0% 
    transform: translateX(0px)
    -webkit-transform: translateX(0px)
  100% 
    transform: translateX(-100%)
    -webkit-transform: translateX(-100%)


// 禁止选中
.not-select
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none


// 隐藏文本
// <span class="bb_spoiler" title="xxx">xxxx</span>
.bb_spoiler, .bb_spoiler a, a .bb_spoiler, .bb_spoiler a.new
  cursor: $pointer,pointer
  border-bottom 1px solid
  border-color var(--color-p)
  background-color var(--color-card)
  color var(--color-card)
  text-shadow none
  padding 0 2px
  margin 0 2px

.bb_spoiler:hover, .bb_spoiler:active,
  .bb_spoiler:hover .bb_spoiler, .bb_spoiler:active .bb_spoiler
  color var(--color-p) !important

.bb_spoiler
  &:hover
    opacity 1
    transition-duration 0.3s
