//=============================//
// 自定义样式 提供可复用的样式  //
//============================//


// 页脚自定义响应式处理
.footerMax560
  @media screen and (max-width: 560px)
    display: none

.footerMax490
  @media screen and (max-width: 490px)
    display: none
    
.footerMax380
  @media screen and (max-width: 380px)
    display: none

// Icon 颜色
// https://flatuicolors.com/palette/defo
.fa,
.fad,
.fal
  &.TURQUOISE
    color: #1abc9c
  &.EMERALD
    color: #2ecc71
  &.PETERRIVE
    color: #3498db
  &.AMETHYST
    color: #9b59b6
  &.WETASPHALT
    color: #34495e

  &.GREENSEA
    color: #16a085
  &.NEPHRITIS
    color: #27ae60
  &.BELIZEHOLE
    color: #2980b9
  &.WISTERIA
    color: #8e44ad
  &.MIDNIGHTBLUE
    color: #2c3e50

  &.SUNFLOWER
    color: #f1c40f
  &.CARROT
    color: #e67e22
  &.ALIZARIN
    color: #e74c3c
  &.CLOUDS
    color: #ecf0f1
  &.CONCRETE
    color: #95a5a6

  &.ORANGE
    color: #f39c12
  &.PUMPKIN
    color: #d35400
  &.POMEGRANATE
    color: #c0392b
  &.SILVER
    color: #bdc3c7
  &.ASBESTOS
    color: #7f8c8d


// 字体粗细
.fontWeigth
  .w400
    font-weight: 400
  .w500
    font-weight: 500
  .w600
    font-weight: 600


// 禁止选中
.not-select,
figcaption,
footer,
section,
details summary,
.article-meta,
.nav-tabs
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none


// 隐藏文本
// <span class="bb_spoiler" title="xxx">xxxx</span>
.bb_spoiler, .bb_spoiler a, a .bb_spoiler, .bb_spoiler a.new
  cursor: $pointer,pointer
  border-bottom 1px solid
  border-color var(--color-p)
  background-color var(--color-card)
  color var(--color-card)
  text-shadow none
  padding 0 2px
  margin 0 2px

.bb_spoiler:hover, .bb_spoiler:active,
  .bb_spoiler:hover .bb_spoiler, .bb_spoiler:active .bb_spoiler
  color var(--color-p) !important

.bb_spoiler
  &:hover
    opacity 1
    transition-duration 0.3s


// 自定义 Note
div.note
  // 外星人
  &.alien::before
    content: '\f8f5'
  
  // 怪物
  &.alien-monster::before
    content: '\f8f6'

  // 蝙蝠
  &.bat::before
    content: '\f6b5'
  
  // 铃铛
  &.bell::before
    content: '\f0f3'

  // 生化病毒
  &.biohazard::before
    content: '\f780'
  
  // 大笑 - 眨眼
  &.laugh-wink::before
    content: '\f59c'
  
  // 懒洋洋的头
  &.poo::before
    content: '\f2fe'

// 全局背景
#BKG
  background-image: url(https://cdn.jsdelivr.net/gh/inkss/common@master/hexo/img/bkg/wallhaven-288dg6.png)
  background-size: cover
  z-index: -20
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0

.imgBlur
  filter: blur(5px)

// 修饰导航栏标题
.fix-header-title
  margin: 0 auto;
  font-size: 1.5rem;
  overflow: hidden;
  font-weight: 800 !important;
  font-family: 'sxls' !important;