//=============//
//    页 脚    //
//=============//
.fixlicense
  @media screen and (max-width: 560px)
    display: none

.fixuse
  @media screen and (max-width: 490px)
    display: none

//=============//
//   评论框    //
//=============//
#valine_container .vwrap
  border: 1px dashed #fff !important

#valine_container .vcards .vh
  border: 1px dashed #fff !important

// 对 valine 评论输入框的样式调整
textarea#veditor
  resize: none !important
  height: auto !important
  background-image: url("https://cdn.jsdelivr.net/gh/inkss/common@master/static/img/plbj.gif")
  background-color: #ffffff
  transition: all 0.25s ease-in-out 0s
  background-size: contain
  background-repeat: no-repeat
  background-position: right
  &:focus
    background-position-y: 150px
    transition: all 0.35s ease-in-out 0s
  &::-webkit-scrollbar
    height: 6px !important
    width: 6px !important
  &::-webkit-scrollbar-track-piece
    background: transparent !important
  &::-webkit-scrollbar-thumb
    border-radius: 5px;
    background-color: rgba(51,103,214,.3);
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
    &:hover
      background-color: #3367d6

//=============//
//    粗 细    //
//=============//
.widget header
  font-weight: initial

//=============//
//   代码块    //
//=============//
.highlight
  background: $color-codeblock
  figcaption
    background: darken($color-codeblock, 5%)
  .gutter
    background: darken($color-codeblock, 5)
  > table
    max-height: 500px
    .gutter
      background: darken($color-codeblock, 5)
    & tr
      background-color: transparent
  & .btn-copy
    border: 1px solid #f1f1f1
    border-radius: 6px

// 特定修改
details > summary,
div.tabs ul.nav-tabs
  background: $color-codeblock

//=============//
//   隐藏文本   //
//=============//
// <span class="bb_spoiler" title="xxx">xxxx</span>
.bb_spoiler, .bb_spoiler a, a .bb_spoiler, .bb_spoiler a.new
  cursor: $pointer,pointer
  border-bottom 1px solid
  border-color #666
  background-color #fff
  color #fff
  text-shadow none
  padding 0 2px
  margin 0 2px

.bb_spoiler:hover, .bb_spoiler:active,
  .bb_spoiler:hover .bb_spoiler, .bb_spoiler:active .bb_spoiler
  color #555 !important

.bb_spoiler
  &:hover
    opacity 1
    transition-duration 0.3s

//=============//
//   禁止选中   //
//=============//
.not-select
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

//=============//
//   样式覆盖   //
//=============//
// 下划线设置
.article
  a:not([class])
    position: relative
    text-decoration: none
    &:before
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px
      height: 1px
      width: 100%
      background: #ff5722
      transform: scale(0)
      transition: all 0.3s
    &:hover:before
      transform: scale(1)
// 设置code样式
  code
    &:not([class])
      padding: 4px 4px 3px 4px
      vertical-align: middle
      background: $color-inlinecode
      color: unset !important
// 导航栏样式  取消半屏
.l_header
  max-width: 65vw
  left: "calc((100% - %s) * 0.5)" % @max-width
  border-bottom-left-radius: $border-card
  border-bottom-right-radius: $border-card
  @media screen and (max-width: $device-2k)
    left: 0
    border-radius: 0
    max-width: 100%
// 样式修订
.article
  h1,h2
    font-weight: 700
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat
    display: initial
    width: auto
    border-bottom: none

//=============//
//   其   它   //
//=============//
//gist 样式修复
.gist .blob-num
  border none

.mainColor
  color: #2196f3
  font-size: 125%

.footStyle
  font-size: 10em
  color: #a6d5fa

.fixIconColor
  color: #a6d5fa !important
  &:hover
    color: #2196f3 !important

kbd
  cursor: default
  display: inline-block
  padding: 3px 5px
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace
  line-height: 10px
  color: #444d56
  vertical-align: middle
  background-color: #fafbfc
  border: 1px solid #d1d5da
  border-radius: 6px
  box-shadow: inset 0 -1px 0 #d1d5da

.list-h > a:hover
  color: #2196f3 !important

//=============//
//   文字滚动   //
//=============//
.text-animate
  padding-left 20px
  font-size 12px
  color #000
  white-space nowrap
  animation 4s wordsLoop linear infinite alternate
  display inline-block

@keyframes wordsLoop
  0% 
    transform: translateX(0px)
    -webkit-transform: translateX(0px)
  100% 
    transform: translateX(-100% + 60px)
    -webkit-transform: translateX(-100% + 60px)
    
@-webkit-keyframes wordsLoops
  0% 
    transform: translateX(0px)
    -webkit-transform: translateX(0px)
  100% 
    transform: translateX(-100%)
    -webkit-transform: translateX(-100%)
    


// Logo 覆盖
.cover-wrapper .cover .cover-body .logo
  max-height: 110px