//=============//
//    页 脚    //
//=============//
.fixlicense
  @media screen and (max-width: 560px)
    display: none

.fixuse
  @media screen and (max-width: 490px)
    display: none

//=============//
//   评论框    //
//=============//
#valine_container .vwrap
  border: 1px dashed #fff !important

#valine_container .vcards .vh
  border: 1px dashed #fff !important

// 对 valine 评论输入框的样式调整
textarea#veditor
  resize: none !important
  height: auto !important
  background-image: url("https://cdn.jsdelivr.net/gh/inkss/common@master/static/img/plbj.gif")
  background-color: #ffffff
  transition: all 0.25s ease-in-out 0s
  background-size: contain
  background-repeat: no-repeat
  background-position: right
  &:focus
    background-position-y: 150px
    transition: all 0.35s ease-in-out 0s
  &::-webkit-scrollbar
    height: 6px !important
    width: 6px !important
  &::-webkit-scrollbar-track-piece
    background: transparent !important
  &::-webkit-scrollbar-thumb
    border-radius: 5px;
    background-color: rgba(51,103,214,.3);
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
    &:hover
      background-color: #3367d6

//=============//
//    粗 细    //
//=============//
.widget header
  font-weight: initial

//=============//
//   代码块    //
//=============//
.highlight >table
  max-height: 500px

.highlight:hover .btn-copy
  margin-top: -28px
  border: 1px solid #f1f1f1
  border-radius: 6px 6px 0 0

//=============//
//   隐藏文本   //
//=============//
// <span class="bb_spoiler" title="xxx">xxxx</span>
.bb_spoiler, .bb_spoiler a, a .bb_spoiler, .bb_spoiler a.new
  cursor: $pointer,pointer
  border-bottom 1px solid
  border-color #666
  background-color #fff
  color #fff
  text-shadow none
  padding 0 2px
  margin 0 2px

.bb_spoiler:hover, .bb_spoiler:active,
  .bb_spoiler:hover .bb_spoiler, .bb_spoiler:active .bb_spoiler
  color #555 !important

.bb_spoiler
  &:hover
    opacity 1
    transition-duration 0.3s

//=============//
//   禁止选中   //
//=============//
.not-select
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

//=============//
//   样式覆盖   //
//=============//
// 恢复下划线设置
.article
  a:not([class])
    text-decoration: none
  underline()
    &:hover
      text-decoration: underline
  .article-entry
    >a,>p>a,blockquote a,div.note a
      underline()
    >ul>li,>ol>li,tbody tr td
      >a,>p>a
        underline()
    div.tab-pane
      >p,li
        >a
          underline()
// 恢复code样式          
  code
    &:not([class])
      padding: 3px 4px 1px 4px
      vertical-align: middle
      background: $color-inlinecode

//gist 样式修复
.gist .blob-num
  border none