//=============//
//    页 脚    //
//=============//
.fixlicense
  @media screen and (max-width: 560px)
    display: none

.fixuse
  @media screen and (max-width: 490px)
    display: none

//=============//
//   评论框    //
//=============//
#valine_container .vwrap
  border: none !important

#valine_container .vcards .vh
  border: none !important

// 对 valine 评论输入框的样式调整
textarea#veditor
  resize: none !important
  height: auto !important
  background-image: url("https://cdn.jsdelivr.net/gh/inkss/common@master/static/img/plbj.gif")
  transition: all 0.25s ease-in-out 0s
  background-size: contain
  background-repeat: no-repeat
  background-position: right
  &:focus
    background-position-y: 150px
    transition: all 0.35s ease-in-out 0s
  &::-webkit-scrollbar
    height: 6px !important
    width: 6px !important
  &::-webkit-scrollbar-track-piece
    background: transparent !important
  &::-webkit-scrollbar-thumb
    border-radius: 5px;
    background-color: #44d7b6
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
    &:hover
      background-color: #3367d6

//=============//
//    粗 细    //
//=============//
.widget header,
ul.nav-list-h>li>a
  font-weight: initial

//=============//
//   代码块    //
//=============//
.highlight
  figcaption
    background: darken($color-codeblock, 5%)
  .gutter
    background: darken($color-codeblock, 5)
  > table
    max-height: 500px
    .gutter
      background: darken($color-codeblock, 5)
    & tr
      background-color: transparent
  & .btn-copy
    border: 1px solid #f1f1f1
    border-radius: 6px

// 特定修改
details > summary,
div.tabs ul.nav-tabs
  background: var(--color-codeblock)

//=============//
//  深色模式   //
//=============//
// 站内导航卡片修改
.widget.grid .content .grid a
  color: var(--color-list)
//文章分类的数字颜色
.widget>.content ul.entry a .badge, .widget>.content ul.popular-posts a .badge
  color: var(--color-text)
// 导航栏搜索图标的颜色
.l_header .m_search .icon
  color: var(--color-link)
// 侧边栏标题颜色
.widget header, .widget header a
  color: var(--color-link)
// 文章下面一行的 日期、分类、阅读更多 
.meta-v3
  .readmore 
    color: var(--color-link) 

//=============//
//   隐藏文本   //
//=============//
// <span class="bb_spoiler" title="xxx">xxxx</span>
.bb_spoiler, .bb_spoiler a, a .bb_spoiler, .bb_spoiler a.new
  cursor: $pointer,pointer
  border-bottom 1px solid
  border-color var(--color-p)
  background-color var(--color-card)
  color var(--color-card)
  text-shadow none
  padding 0 2px
  margin 0 2px

.bb_spoiler:hover, .bb_spoiler:active,
  .bb_spoiler:hover .bb_spoiler, .bb_spoiler:active .bb_spoiler
  color var(--color-p) !important

.bb_spoiler
  &:hover
    opacity 1
    transition-duration 0.3s

//=============//
//   禁止选中   //
//=============//
.not-select
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

//=============//
//   样式覆盖   //
//=============//
// 下划线设置
.article a:not([class]):not([data-fancybox]),
.content > a
    position: relative
    text-decoration: none
    &:before
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px
      height: 1px
      width: 100%
      background: #ff5722
      transform: scale(0)
      transition: all 0.5s
    &:hover:before
      transform: scale(1)

// 设置code样式
  code
    &:not([class])
      padding: 4px 4px 3px 4px
      vertical-align: middle
      color: unset !important

// 导航栏样式  取消半屏
//.l_header
//  max-width: 65vw
//  left: "calc((100% - %s) * 0.5)" % @max-width
//  border-bottom-left-radius: $border-card
//  border-bottom-right-radius: $border-card
//  @media screen and (max-width: $device-2k)
//    left: 0
//    border-radius: 0
//    max-width: 100%

// 样式修订 HandSome
article.md
  & > h1,h2
    font-weight: 700
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat
    display: initial
    width: auto
    border-bottom: none

//=============//
//   其   它   //
//=============//
//gist 样式修复
.gist .blob-num
  border none

// Logo 用主颜色
.logoColor
  color: #2196f3
  font-size: 125%

// Icon 颜色
.fixIconColor
  color: #a6d5fa !important
  &:hover
    color: #2196f3 !important

// <kbd></kbd>  ->  From Github
kbd
  cursor: default
  display: inline-block
  padding: 3px 5px
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace
  line-height: 10px
  vertical-align: middle
  background-color: #fafbfc
  border: 1px solid #d1d5da
  border-radius: 6px
  box-shadow: inset 0 -1px 0 #d1d5da

// 导航栏文字潜在修复
.l_header ul.nav-list-h>li>a
  overflow: hidden

.cover-wrapper#half
  height: auto
  .cover-body
    margin-bottom: 110px

// 暗黑模式按钮
.temp-darkmode-toggle
  background: #333;
  width: 3rem;
  height: 3rem;
  position: fixed;
  border-radius: 50%;
  border: none;
  right: unset;
  bottom: 32px;
  left: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;

//=============//
//   文字滚动   //
//=============//
.text-animate
  padding-left 20px
  font-size 12px
  color #000
  white-space nowrap
  animation 4s wordsLoop linear infinite alternate
  display inline-block

@keyframes wordsLoop
  0% 
    transform: translateX(0px)
    -webkit-transform: translateX(0px)
  100% 
    transform: translateX(-100% + 60px)
    -webkit-transform: translateX(-100% + 60px)
    
@-webkit-keyframes wordsLoops
  0% 
    transform: translateX(0px)
    -webkit-transform: translateX(0px)
  100% 
    transform: translateX(-100%)
    -webkit-transform: translateX(-100%)


//=============//
//   自定义图   //
//=============//
.image-wrapper
  text-align: center
  position: relative
  text-align: center
  margin: 20px auto
  max-width: 100%
  figcaption
    font-size: .875rem
    line-height: 1.125
    text-align: center
    color: grey