//===========================
// 自定义 Note
//===========================

// 颜色：clear, light, gray, red, yellow, green, cyan, blue
div.note
  // 外星人
  &.alien::before
    content: '\f8f5'
  
  // 怪物
  &.alien-monster::before
    content: '\f8f6'

  // 蝙蝠
  &.bat::before
    content: '\f6b5'
  
  // 铃铛
  &.bell::before
    content: '\f0f3'

  // 生化病毒
  &.biohazard::before
    content: '\f780'
  
  // 大笑 - 眨眼
  &.laugh-wink::before
    content: '\f59c'
  
  // 懒洋洋的头
  &.poo::before
    content: '\f2fe'


//===========================
// timeline 时间线
//===========================

.elem-field
  border-color #e6e6e6
  margin-bottom 10px
  padding 0
  border-style solid
  legend
    margin-left 20px
    padding 0 10px
    font-size 20px
    font-weight 300

.field-title
  margin 10px 0 20px
  border-width 1px 0 0

.timeline
  padding-left 5px

.timeline-item
  position relative
  list-style none !important
  padding-bottom 5px
  &:first-child
    &:before
      display block
  &:last-child
    &:before
      display none
  &:before
    content ''
    position absolute
    left 5px
    top 0
    z-index 0
    width 1px
    height 100%

.timeline-item:before, hr
  background-color #e6e6e6

.timeline-axis
  position absolute !important
  left -5px
  top 0
  z-index 10
  width 20px
  height 20px
  line-height 20px !important
  background-color var(--color-card)
  color var(--color-meta)
  border-radius 50%
  text-align center

.timeline-icon
  font-family timeline-icon!important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.timeline-title
  position relative
  margin-bottom 10px

.timeline-content
  padding-left 25px

.timeline-content-text
  line-height 22px
  font-size 14px
  color #666


//===========================
// 评论框 valine_container
//===========================
// valine 去线留白
#valine_container .vwrap,
#valine_container .vcards .vh,
#valine_container .vcards .vcard
  border: none !important

// valine 计数距下距离
#valine_container .vcount
  margin-bottom: 10px !important

// valine 调整评论框间距
#valine_container .vcards>.vcard
  padding: 8px 16px !important
  margin-bottom: 0 !important

// 调整浏览器信息
#valine_container .vcards .vhead .vsys
  display: inline-block !important

// 回复按钮
#valine_container .vcards .vmeta .vat
  float: right !important
  padding: 0 !important
#valine_container .vcards .vcontent
  padding-top: .625em !important

// valine 评论输入框的样式调整
textarea#veditor
  resize: none !important
  height: auto !important
  background-image: url("https://cdn.jsdelivr.net/gh/inkss/common@master/static/img/plbj.gif")
  transition: all 0.25s ease-in-out 0s
  background-size: contain
  background-repeat: no-repeat
  background-position: right
  &:focus
    background-position-y: 150px
    transition: all 0.35s ease-in-out 0s
  &::-webkit-scrollbar
    height: 6px !important
    width: 6px !important
  &::-webkit-scrollbar-track-piece
    background: transparent !important
  &::-webkit-scrollbar-thumb
    border-radius: 5px;
    background-color: #44d7b6
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
    &:hover
      background-color: #3367d6


//===========================
// 评论框 Twikoo
//===========================
// 输入框调整
textarea.el-textarea__inner
  min-height: 120px !important
  resize: none !important
  height: auto !important
  transition: all 0.25s ease-in-out 0s !important
  background-size: contain !important
  background-repeat: no-repeat !important
  background-position: right !important
  &:focus
    background-position-y: 150px !important
    transition: all 0.35s ease-in-out 0s !important
  &::-webkit-scrollbar
    height: 6px !important
    width: 6px !important
  &::-webkit-scrollbar-track-piece
    background: transparent !important
  &::-webkit-scrollbar-thumb
    border-radius: 5px;
    background-color: #44d7b6
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
    &:hover
      background-color: #3367d6

// 各类输入框的去线留白
div.el-input-group__prepend
  border: none !important

// 输入框的边框样式
#twikoo input,
#twikoo textarea
  border: none !important
  &:hover  
    border: 1px dashed #44d7b6 !important
  &:focus
    border: 1px solid #44d7b6 !important

// 整体字体大小调整
.tk-comment
  font-size: 0.875rem !important

//评论计数
.tk-comments-count
  font-weight: 500 !important
  span:first-child
    font-size: 1.4rem !important
  span:last-child
    font-size: 0.9rem !important

// 不显示浏览器信息等
.tk-extras
  display: none !important

// 不显示点赞按钮
.tk-main .tk-row .tk-action
  a:first-child
    display: none
  a:last-child
    span:last-child
      display: none

// 查看更多
.tk-comments-container > .tk-expand
  background: #f1f1f1 !important
  border-radius: 4px !important
  line-height: 2 !important
  font-size: 14px !important
  padding: 8px 2rem !important
  font-weight: 600 !important

// 加载框
.el-loading-mask
  top: -400px !important
  z-index: 1 !important

// 最大显示长度
.tk-replies
  max-height: 335px !important
.tk-replies-expand
  max-height: none !important

// 评论框间距
.tk-comment
  margin-top: 1.45rem !important

// 评论字体大小
.tk-content p
  font-size: 0.975rem !important

// 不显示头像
.tk-submit .tk-avatar
 display: none !important
.tk-row.actions
  margin-left: 0 !important

// 预览
.tk-preview-container
  margin-left: 0 !important

// 加载状态下居中
#twikoo_container
  text-align: center
