@media (prefers-color-scheme: dark)
  :root
    --color-mode: 'dark'
  :root:not([data-user-color-scheme])
    dark()
    @import 'dark'
[data-user-color-scheme='dark']
  dark()
  @import 'dark'

// $navbar-height
// switch 暗黑模式按钮切换
.switch
  @media screen and (max-width: 500px)
    display: none
  margin-right 15px
  position relative
  input 
    display none
    height 100%
    width 100%
    position absolute
    left 0
    top 0
    opacity 0
    z-index 100
    cursor pointer
    &:checked 
      & ~ label 
        .bulb 
          z-index 1
          left 30px
          background-color #a7694a
          box-shadow inset 0 0 1px 3px #a56758, inset 0 0 6px 8px #6b454f, 0 2px 3px -1px rgba(0, 0, 0, 0.4), 0 0 3px 5px rgba(253, 184, 67, 0.1) 
          & > .bulb-center 
            background-color #feed6b
            box-shadow inset 0 0 0 4px #fdec6a, 0 0 12px 10px #bca83c, 0 0 20px 14px #a1664a
            &:after 
              background-color #fef401
              box-shadow 0 0 2px 4px #fdb843
          & > .sparks 
            .spark1 
              height 1px
              width 1px
              -webkit-animation spark1 2s ease-in-out
              animation spark1 2s ease-in-out
              -webkit-animation-delay 0.4s
              animation-delay 0.4s
            .spark2 
              height 1px
              width 1px
              -webkit-animation spark2 2.4s ease-in-out
              animation spark2 2.4s ease-in-out
              -webkit-animation-delay 0.4s
              animation-delay 0.4s
            .spark3 
              height 1px
              width 1px
              -webkit-animation spark3 2s ease-in-out
              animation spark3 2s ease-in-out
              -webkit-animation-delay 0.9s
              animation-delay 0.9s
            .spark4 
              height 1px
              width 1px
              -webkit-animation spark4 1.7s ease-in-out
              animation spark4 1.7s ease-in-out
              -webkit-animation-delay 0.9s
              animation-delay 0.9s
  label 
    height 27.5px
    width 55px
    background-color var(--color-block)
    border-radius 25px
    display block
    box-shadow inset 0 0 20px rgba(0, 0, 0, 0.2), inset 0 0 5px -2px rgba(0, 0, 0, 0.4)
    .bulb 
      height 22.5px
      width 22.5px
      border-radius 50%
      position relative
      top 2.5px
      left 2.5px
      display block
      transition 0.7s
      box-shadow inset 0 0 1px 3px #ffffff, inset 0 0 6px 8px #ffffff, 0 20px 30px -10px #000
      .bulb-center 
        position absolute
        display block
        height 9px
        width 9px
        background-color #676767
        border-radius 50%
        top 50%
        left 50%
        transition 0.7s
        -webkit-transform translate(-50%, -50%)
        transform translate(-50%, -50%)
        box-shadow inset 0 0 0 4px #676767
        &:after 
          content ""
          display block
          height 3.5px
          width 3.5px
          border-radius 50%
          position absolute
          transition 0.7s
          top 50%
          left 50%
          -webkit-transform translate(-50%, -50%)
          transform translate(-50%, -50%)

// 光线化作的点
.sparks 
  .spark1 
    display block
    height 1px
    width 1px
    background-color #d1b82b
    position absolute
    right -1.25px
    border-radius 50%
    bottom 5.75px
    transition 0.4s
    opacity 0
  .spark2 
    display block
    height 3px
    width 3px
    background-color #d1b82b
    position absolute
    right 5px
    border-radius 50%
    bottom 20px
    transition 0.4s
    opacity 0
  .spark3 
    display block
    height 3px
    width 3px
    background-color #d1b82b
    position absolute
    left 5px
    border-radius 50%
    bottom 20px
    transition 0.4s
    opacity 0
  .spark4 
    display block
    height 3px
    width 3px
    background-color #d1b82b
    position absolute
    left 5px
    border-radius 50%
    bottom 5xp
    transition 0.4s
    opacity 0
.switch input:checked~label .bulb>.filament-1:before,
.switch input:checked~label .bulb>.filament-2:before,
.switch input:checked~label .bulb>.filament-1:after,
.switch input:checked~label .bulb>.filament-2:after 
  border-color #fef4d5

@keyframes spark1
  0%
    right -5px
    height 1px
    width 1px
    opacity 0
  20% 
    height 3px
    width 3px
    right 0px
    opacity 1
  30% 
    right -5px
    opacity 1
    height 3px
    width 3px
  70% 
    height 3px
    width 3px
  100% 
    right -15px
    bottom 10px
    opacity 0

@keyframes spark2
  0%
    height 3px
    width 3px
    opacity 0
  30% 
    opacity 1
  100% 
    right -5px
    bottom 25px
    opacity 0

@keyframes spark3
  0% 
    opacity 0
  30% 
    opacity 1
    height 2px
    width 2px
  100% 
    left 0px
    bottom 25px
    opacity 0
    height 3px
    width 3px

@keyframes spark4
  0% 
    opacity 0
  30% 
    opacity 1
    height 2px
    width 2px
  100% 
    left -5px
    bottom -2.5px
    opacity 0
    height 3px
    width 3px
