@media (prefers-color-scheme: dark)
  :root
    --color-mode: 'dark'
  :root:not([data-user-color-scheme])
    dark()
    @import 'dark'
    @import '../_szyink-plugins/dark'
[data-user-color-scheme='dark']
  dark()
  @import 'dark'
  @import '../_szyink-plugins/dark'
