// 自定义修改区域
.widget.grid .content .grid a,
.widget>.content ul.entry a .badge, .widget>.content ul.popular-posts a .badge
  color: #aaa !important

.highlight>table,
.highlight:hover
  background-color: #1d1f23 !important

article#comments p[ct]
  color: var(--color-p) !important

.highlight pre .comment
  color: #847a7d !important

.highlight pre .marked
  background-color: #3d424f !important

div.note.quote
  border-color: #555c66 !important

hr
  background-color: #555c66 !important

#read_bkg
  background: #21252b !important

// 夜间模式透明模式
#l_header
#l_main .post
#l_side .widget
#rightmenu-content
  background-color: #282c34

// 链接颜色
a,
.widget.text .content a
  color: #abb2bf
  &:hover
    color: #ff5722

// 向上
#l_body #s-top.show.hl
  background: #5c5e63 

// 干掉评论背景
textarea.el-textarea__inner
  background: none !important

// 夜间模式标题样式修改
#desktopNavTitle
  display: none !important
#githubEmoji
  display: block !important

// 阅读模式背景色
.post_read
  background-color: #282c34 !important

// 全局背景
#BKG
  background-image: url(/img/bkg/wallhaven-ey3exw.png) !important

// 黑暗模式去除阴影
#l_main .post
#l_side .widget
#rightmenu-content
  box-shadow: none