  ///////////////////////
 //  提前量的强制覆盖  //
///////////////////////

// 导航栏样式 仅当 2K 分辨率时使用
.l_header
  @media screen and (max-width: $device-2k)
    left: 0 !important
    border-radius: 0 !important
    max-width: 100% !important

// 导航栏文字潜在修复
//.l_header ul.nav-list-h>li>a
//  overflow: hidden !important

// 修改粗细
//.widget header,
//ul.nav-list-h>li>a
//  font-weight: initial !important

// 修改文章字体
article > p
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
  font-weight: 400 !important;
  line-height: 2 !important;
  margin: 0 0 20px 0;

//.j-china-lantern
//   @media screen and (max-width: 1400px)
//    display: none !important

// 调整移动端的显示
#safearea
  @media screen and (max-width: $device-mobile)
    margin: 16px 0 0 !important
    box-shadow: none !important
    #l_main
      article#comments,
      article#friends,
      article#post,
      article#page,
      article#arc      
        border-radius: 0 !important
        margin-top: -16px !important
      article#cat,
      article#tag
        margin: -16px -16px 0 !important
        border-radius: 0 !important
      .post-wrapper
        margin: 0 16px !important
    #l_side
      .widget.mobile
        border-radius: 0 !important


.iconfont
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor
  overflow: hidden
  &.emoji
    width: 1.5em
    height: 1.5em
    vertical-align: -0.3em

.rem1p5
  font-size: 1.5rem  

.rem2
  font-size: 2rem

.rem6
  font-size: 6rem

.rem12
  font-size: 12rem